/* 万视，用心打造数字化产品和品牌 */
.section-sec {
  min-height: 385px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-sec-title {
  font-family: PingFangSC-Medium;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 72px;
}
.section-sec-content {
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #2996ff;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1%;
  cursor: pointer;
}
.section-sec-content-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}
/* 万视，用心打造数字化产品和品牌 */

/* 深入赋能行业，与品牌共同成长 */
.section-fourth {
  min-height: 500px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-fourth-title {
  font-family: PingFangSC-Medium;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 72px;
}
.section-fourth-content {
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #2996ff;
  letter-spacing: 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  width: 50%;
  cursor: pointer;
}
.sfc-color {
  color: #dab475;
}
.section-fourth-content-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-mr {
  margin-right: 11%;
}
/* 深入赋能行业，与品牌共同成长 */

/* 章节五 */
.section-fifth {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  justify-content: space-around;
  background: black;
}
.sf-item {
  width: 30%;
  min-height: calc(116px + 14vmin);
  background-repeat: no-repeat;
  background-position: center;
}
.ss-item-div {
  display: flex;
  flex-flow: column;
}

.ss-item-txt {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #e4c487;
  text-align: center;
}
.ss-item-txt.txt1 {
  margin-top: 24px;
}
/* 章节五 */

/* 章节六 */
.section-sixth {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  justify-content: space-around;
  background: black;
  border-top: 1px solid #3c3c3c;
}
.ss-item {
  width: 32%;
  min-height: calc(159px + 44vmin);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 章节六 */
